.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.divp{
  background-color: aqua;
}
.divh1{
 float: left;
 padding-inline: 0cm;
  margin-right: 1cm;
  display: flex;
  align-self: flex-start;
}
.divh2{
  border: solid;
  border-radius: 5px;
  margin-left: 0cm;
  margin-right: 0.5cm;
  display:inline-block
}
.divh3{
  border: solid;
  border-radius: 5px;
  margin-left: 0cm;
  margin-right: 0.5cm;
  display:inline-block

}
.divh4{
  border: solid;
  border-radius: 5px;
  margin-left: 0cm;
  margin-right: 0.5cm;
  display:inline-block
}
.divh5{
  border: solid;
  border-radius: 5px;
  margin-left: 0cm;
  margin-right: 0cm;
  display:inline-block
}
.titlehome{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  
  color: black;
}
.divhome{
  padding-top: 1cm;
}


